/*   RESET   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

  

/*   HEADER   */


header{
    background-color: black;
    display: flex; 
    justify-content: center;
    
}

header a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    
    
}




/*   MAIN   */


/*   CAMBIANDO TAMAÑO DEL LOGO   */
.navbar-brand img{
    height: 150px;
    width: 150px;
} 


.carousel-inner img{
    width: 100%;
    height: 1000px;

}

.titulo-productos h2{
    text-align: center;
    padding: 40px;
    
}



/*   CAMBIANDO CARACTERISTICAS DE LA LISTA DE PRODUCTOS  */
.card-body{
    text-align: center;

}

.card img{
  height: 150px;
  width: 150px;

}



 h3{
    
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
 }

.listaProductos{
    display: flex;
    justify-content: space-around;
}


/* Personaliza la sección de garantía */
.guarantee-section {
    padding: 40px;
    background-color: #9799e6;
    
  }

  .guarantee-section .col-md-4{
    text-align: center;
  }

  /* Ajusta el tamaño de la imagen */
  .guarantee-img {
    width: 150px;
    height: 150px;
  }

  .col-md-3 img{
    height: 250px;
    height: 250px;

  }

  .category-section{
    display: flex;
    justify-content: space-between;
  }

  .card-body{
    align-items: center;
  }

  .card{
    align-items: center;
  }
 



  /*   FOOTER    */
footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
  }

  

  /* Estilo para los enlaces de redes sociales */
  .social-link {
    display: inline-block;
    margin-right: 10px;
    
  }

  .footer-links a{
    text-decoration: none;
  }



  /* Estilo para los íconos de redes sociales */
  
  .social-icons img{

    width: 30px;
    height: 30px;
  }

