
/*   FOOTER    */
footer {
  background-color: $color-back-footer;
  color: $color-text-footer;
  padding: 20px 0;
 
}



/* Estilo para los enlaces de redes sociales */
.social-link {
  display: inline-block;
  margin-right: 10px;

}

.footer-links {

  a {
      text-decoration: none;
      color: white;
  }
}


/* Estilo para los íconos de redes sociales */

.social-icons {

  img {

      width: 30px;
      height: 30px;
  }
}
