/*   HEADER   */


header {
    background-color: map-get($encabezado , color-header);
    display: flex;
    justify-content: center;

    a {
        font-size: 25px;
        color: map-get($encabezado , color-text-header);
        text-decoration: none;

    }

    a:hover {

        transform: scale(1.1);
        transition: 1s;

    }

}