@media screen and (max-width: 450px) {
    header a {
      font-size: 18px;
    }
}
  
  
  
    
    @media screen and (max-width: 450px) {
      h3 {
        font-size: 15px;
        padding: 20px;
  
  
      }
    }
  
      @media screen and (max-width: 325px) {
        header a {
          font-size: 12px;
  
  
        }
    }